# Contentful Space ID
VITE_CONTENTFUL_SPACE_ID=your_space_id_here

# Contentful Content Delivery API Access Token
VITE_CONTENTFUL_ACCESS_TOKEN=your_access_token_here

# Contentful Environment (Defaults to master if left blank)
VITE_CONTENTFUL_ENVIRONMENT=master
